<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id = "atm" class="com.system.atm.service.ATM" init-method="init" destroy-method="destroy">
    </bean>

    <bean id="user" class="com.system.atm.model.user.User" scope="prototype" abstract="true">
    </bean>

    <bean id = "userFactory" class="com.system.atm.model.user.UserFactory" scope="singleton">

        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="1"/>
        <constructor-arg index="2" value="1"/>
        <constructor-arg index="3" value="1"/>
        <constructor-arg index="4" value="1"/>
        <constructor-arg index="5" value="1"/>
    </bean>

    <bean id="bank" class="com.system.atm.model.Bank" scope="prototype">
        <constructor-arg name="id" value='1'/>
        <constructor-arg name="bankName" value="Kaspi"/>

    </bean>

</beans>
